.submenu{
    min-width: 372px;
    position: absolute;
    transform: translate3d(75px, 52px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    z-index: 10;
    margin-left: 55px;
    margin-top: 20px;
    min-width: 290px;
    padding: 0;
    border-radius: 9px;
    border: 0;
    -webkit-box-shadow: 0 2px 3px 5px rgb(52 45 45 / 10%);
    box-shadow: 0 2px 3px 5px rgb(52 45 45 / 10%);
}



.angle_dropdown_menu:before {
    content: "";
    position: absolute;
    top: 0.8px;
    left: -12px;
    border-top: 7px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 17px solid #fff;
    height: 0;
    width: 0;
    -webkit-filter: drop-shadow(-4px 0 2px rgba(52,45,45,.1));
    filter: drop-shadow(-4px 0 2px rgba(52,45,45,.1));
    border-bottom-right-radius: 2px;
    display: inline-block;
}

.item-checkbox-menu-subtitle {
    margin: 2px 0;
    padding: 7px 80px 7px 56px!important;
    color: #686868;
    text-align: center;
    font-size: 15px!important;
}

.item-checkbox-menu.item-icon-menu {
    padding: 14px 68px 14px 110px;
    z-index: 0;
}

.body-all-perfiles:before {
    margin-bottom: 10px;
}

.body-all-perfiles:before {
    background: #f0f0f0;
    width: 85%;
    height: 2px;
    content: "";
    display: block;
    margin-left: 20px;
}

.contenedor_carpetas{
    padding-left: 30px;
    padding-bottom: 20px;
}
.submenu-title{
    color: #686868;
    font-weight: 900;
}
.submenu-item{
    font-size: 13px;
    color: #686868
}

.icon-Contraer-campana-click {
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 16px;
    cursor: pointer;
    z-index: 3;
    color: #00a1c9;
}

.submenu-item:hover {
    text-decoration: underline !important;
}