#solicitud .procesando-solicitud .row.justify-content-center {
    padding-top: 7.625rem;
}

#solicitud .procesando-solicitud__imagen-nueva {
    padding-bottom: 5rem;
}

#solicitud .procesando-solicitud__text-dinamic {
    font-family: Nexa-regular;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#solicitud .procesando-solicitud__contenedor-text-dinamic {
    max-width: 500px;
    position: relative;
    padding-bottom: 1.875rem;
}

#solicitud .procesando-solicitud__iconoB {
    color: #ffc107;
    font-size: 32px;
    position: absolute;
    top: 1.25rem;
    left: 0.25rem;
}

#solicitud .procesando-solicitud__span {
    padding-left: 3.625rem;
    color: #686868;
}

#solicitud .procesando-solicitud .blue {
    color: #00a1c9;
}

#solicitud .procesando-solicitud__span>span {
    font-family: Nexa-bold;
}

