.container-politicscoo {
    width: 1280px;
    /* width: auto; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* border: solid red; */
}

.politicscoo {
    margin: 20px;
}

.politicscoo ul {
    list-style-type: none;
    margin: 0;
    padding: 25px;
    position: fixed;
    width: 290px;
    height: 510px;
    overflow: auto;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    overflow: hidden;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #68686814;
    border-radius: 17px;
    opacity: 1;
}

.politicscoo li a {
    display: block;
    color: #686868;
    padding: 8px 25px 10px 20px;
    margin-left: 15px;
    text-decoration: none;
}

.politicscoo li a.active {
    color: #00a1c9;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.politicscoo li a:hover:not(.active) {
    background-color: #6868680c;
    color: #686868;
    text-decoration: underline;
}

.politicscoo-info {
    margin: 20px 20px 20px 350px;
    width: 872;
}

.politicscoo-text {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #686868;
}

.politicscoo hr {
    margin: 0 25px;
    color: rgba(94, 94, 94, 0.418);
    border: 0;
    border-top: 1px solid;
    opacity: 0.25;
    width: 200px;
}

.politicscoo-title {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    text-align: left;
    font-weight: bold;
}

.politicscoo-title-content {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #959595 !important;
}

.politicscoo-subtitles {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    color: #00a1c9;
}

.politicscoo-info p {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #686868;
}

.politicscoo-link {
    color: #00a1c9;
    text-decoration: underline;
}
