.container-monitor-size {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    background-color: #dff3f8;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 20px 20px;
}

.monitor-text-size {
    height: auto;
    width: 595pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.monitor-title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #00a1c9;
    font-size: 25pt;
    text-align: left;
}

.monitor-text {
    font-family: "Roboto", sans-serif;
    color: #686868;
    font-size: 20pt;
    text-align: left;
    margin-bottom: 25pt;
}

.monitor-allies-size {
    margin: 20px;
}

.allies-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    height: 407pt;
    width: 537pt;
}

.allies-grid div {
    background-color: #dff3f8;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* border: solid black; */
}

.allies-grid div img {
    width: 70pt;
    height: 70pt;
    /* object-fit: cover; */
}

.text-end-grid {
    font-family: "Roboto", sans-serif;
    color: #686868;
    font-size: 12pt;
    text-align: center;
    margin-bottom: 25pt;
    font-weight: bold;
}

.text-end-grid-color {
    color: #00a1c9;
}

.BotonRegistrarse {
    margin-top: 30pt;
}
/* font-family: "Poppins", sans-serif;
font-family: "Roboto", sans-serif; */
