table tr th {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sorting {
    background-color: #0080a0;
}

.asc:after {
    content: " ↑";
}

.desc:after {
    content: " ↓";
}

.contenedor-contratos {
    display: flex;
    flex-direction: row;
}

.tabla {
    font-size: 13px;
}

.alto-tabla {
    width: auto;
    height: 600px;
}

.cabecera-tabla {
    position: sticky;
    top: -1px;
}

th {
    font-size: 12px;
}

.iconos-horizontal {
    display: flex;
}

.iconos-tamano-margen {
    font-size: 22px !important;
    margin: 0px 3px;
}

.margen-textos {
    padding: 7px;
}

.boton {
    background-color: white !important;
    margin: 2px;
}

.data-text {
    text-transform: lowercase;
    display: inline-block;
}

.data-text:first-letter {
    text-transform: uppercase;
}

.codigo-proceso {
    width: 55px;
}

/* Seccion de filtros */
.contenedor-filtros {
    display: flex;
    align-items: center;
    margin-left: 110px;
    justify-content: space-between;
}

.buscador_avanzado {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    padding: 0px 15px;
}

.color-texto {
    color: rgb(58, 182, 0);
    font-size: 13px;
}

.input-filtro-estado {
    margin-left: 38px;
    font-size: 13px;
    color: #7c7c7c;
    padding: 0px 15px 0px 15px;
}

.span-visualizar {
    margin-right: 7px !important;
}

.input-visualizar {
    margin: 15px 25px 15px 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #e6e6e6;
    padding: 0px 5px 0px 40px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-size: 13px;
    color: #7c7c7c;
    width: 200px !important;
}

.buscador_rapido {
    margin: 15px 25px 15px 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #e6e6e6;
    padding: 0px 5px 0px 40px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.buscador_rapido::placeholder {
    color: #b9b9b9;
    font-size: 13px;
}

.margen-color {
    color: rgb(58, 182, 0);
}

.posicion-color {
    position: absolute;
    margin: 17px 0px 0px -75px;
    width: 13px;
    color: #b9b9b9;
}

