ul.TerminosUl {
    height: 605px !important;
    overflow: auto !important;
    overflow-x: clip !important;
}

::-webkit-scrollbar { display: none; }

.policy-title {
    border-bottom: 2px solid hsla(0,1%,61%,.15);
    color: #959595;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
    padding: 30px 0 23px;
    text-align: center;
    line-height: 22px;
    font-family: "Poppins", sans-serif;
}


.policy-title .mark-word {
    color: #00a1c9 !important;
    font-weight: bold;
}

.policy-paragraph {
    color: #686868;
    font: normal normal normal 15px/26px Roboto;
    margin-top: 28px;
}

.policy-subtitle {
    color: #00a1c9;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    padding: 30px 0 0;
    font-family: "Poppins", sans-serif;
}

#contacto{
    color: #00a1c9;
    font-weight: 700;
    font-size: 15px;
}


