table tr th {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
}

.sorting {
    background-color: #0080a0;
}

.asc:after {
    content: " ↑";
}

.desc:after {
    content: " ↓";
}

.contenedor-usuarios {
    display: flex;
    flex-direction: row;
}

.posicion-opciones-usuarios {
    margin-top: 58px;
}

.usuarios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #00a1c9;
    font-weight: bold;
    font-size: 22px;
    justify-content: space-between;
    height: 40px;
    margin-bottom: -5px;
}

.contenedor-botones {
    display: flex;
    flex-direction: row;
}

.actualizar-color {
    color: #00a1c9;
}

.material-symbols-outlined-color {
    color: white;
}

.margen-titulo {
    margin-left: 1300px;
}

.tabla {
    font-size: 13px;
}

.cabecera-tabla {
    position: sticky;
    top: -1px;
}

.iconos-horizontal {
    display: flex;
}

.estilos-boton-eliminar {
    background-color: red;
    width: 25px;
    height: 30px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 3px;
    margin: 3px;
}

.estilos-boton-editar {
    background-color: #00a1c9;
    width: 25px;
    height: 30px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 3px;
    margin: 3px;
}

.estilos-boton-email {
    background-color: rgb(236, 236, 236);
    width: 25px;
    height: 30px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(95, 95, 95);
    padding-top: 3px;
    margin: 3px;
}

.margen-textos {
    padding: 7px;
}

.autorenew {
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border-bottom: solid 1px #b5b5b5;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    padding: 5px;
    color: black;
}

.add_circle {
    background-color: rgb(58, 182, 0);
    width: 35px;
    height: 35px;
    border-bottom: solid 1px #b5b5b5;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #00a1c9;
    font-weight: bold;
    font-size: 22px;
}

.separacion {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #bdbdbd;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 40px;
}