.posicion-opciones-planes {
    margin-top: 58px;
}

ul {
    padding-left: 0px !important;
}

a {
    color: unset !important;
    text-decoration: none !important;
}

.w-30 {
    width: 110px;
}

p {
    margin-bottom: 0px !important;
}

.modal-header,
.btn-info {
    background: #1383ac;
    color: #fff;
}

input.btn.btn-info {
    background: #1383ac;
    border-color: #1383ac;
    color: #fff;
}

th {
    font-size: 12px;
}

.name_section_app {
    text-align: center;
    display: block;
    max-width: 410px;
    margin: 0 auto;
    color: #00a1c9;
    font-family: Nexa-bold,sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
    border: 0;
    background-image: linear-gradient(90deg,#e1e1e1 0,#e1e1e1 50%,transparent 0);
    background-size: 16px 2px;
    background-position: bottom;
    background-repeat: repeat-x;
}