table tr th {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sorting {
    background-color: #0080a0;
}

.asc:after {
    content: " ↑";
}

.desc:after {
    content: " ↓";
}

.contenedor-contratos {
    display: flex;
    flex-direction: row;
}

.tabla {
    font-size: 13px;
}

.alto-tabla {
    width: auto;
    height: 600px;
}

.cabecera-tabla {
    position: sticky;
    top: -1px;
}

th {
    font-size: 12px;
}

.iconos-horizontal {
    display: flex;
}

.iconos-tamano-margen {
    font-size: 22px !important;
    margin: 0px 3px;
}

.margen-textos {
    padding: 7px;
}

.boton {
    background-color: white !important;
    margin: 2px;
}

.data-text {
    text-transform: lowercase;
    display: inline-block;
}

.data-text:first-letter {
    text-transform: uppercase;
}

.codigo-proceso {
    width: 55px;
}
