.margen-izquierda {
    margin-left: -10px;
}

.tamano-iconos {
    font-size: 40px !important;
    margin: 0px 5px;
}

.logo {
    width: 50px;
}

.margen {
    margin-left: 45px;
}

.contenedor-logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.margen-logo {
    margin: 10px;
}

a {
    margin: 0px 3px 0px 3px;
}
