#menu-lateral {
    padding-top: 10px!important;
    padding-right: 0!important;
    margin-top: 0!important;
    background: #fff!important;
    max-width: 78px;
    height: 98%;
    border-radius: 10px;
    top: 10px;
    left: 10px!important;
}

#menu-lateral .new-menu {
    padding: 0 0 18px;
    margin: 0;
    text-align: center;
    overflow-y: auto;
    overflow-x: visible;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* .scroll_fit {
    scrollbar-width: thin;
    scrollbar-color: #9c9b9b #eee;
} */

#menu-lateral .new-menu li {
    display: block;
}

#menu-lateral .new-menu>li {
    position: relative;
    width: 100%;
    height: 100px;
}

#menu-lateral .new-menu li>a, #menu-lateral .new-menu li>button {
    cursor: pointer;
    padding: 23px 4px 13px;
    border: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline: none!important;
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: Nexa-regular;
    font-size: 11px;
    width: 100%;
    background: none;
    color: #686868;
    text-decoration: none!important;
    top: 10px;
}

#menu-lateral .new-menu li>a:before, #menu-lateral .new-menu li>button:before {
    content: "";
    position: absolute;
    top: -5px;
    left: 18px;
    width: 40px;
    height: 2px;
    background: #f0f0f0;
    border-radius: 30px;
}

#menu-lateral #item_menu-misperfiles:before{
    display: none;
}

/* #menu-lateral .new-menu li>a>span:first-of-type, #menu-lateral .new-menu li>button>span:first-of-type {
    font-size: 22px;
} */

#menu-lateral .new-menu li>a [class^=icon-], #menu-lateral .new-menu li>button [class^=icon-] {
    color: #afafaf;
}

#menu-lateral .new-menu li>a>span:first-of-type, #menu-lateral .new-menu li>button>span:first-of-type {
    font-size: 22px;
}

#menu-lateral .new-menu li>a>span, #menu-lateral .new-menu li>button>span {
    display: block;
}

#menu-lateral .new-menu li>a .item-title-menu, #menu-lateral .new-menu li>button .item-title-menu {
    line-height: 1.3;
    padding-top: 7px;
    word-wrap: break-word;
}

#menu-lateral .new-menu li>a .flechas-menu, #menu-lateral .new-menu li>button .flechas-menu {
    position: absolute;
    font-size: 22px;
    right: 5px;
    top: 30%;
}

#menu-lateral .new-menu li>a.activeli>span, #menu-lateral .new-menu li>a.activeli span:before, #menu-lateral .new-menu li>a.item_menu-active>span, #menu-lateral .new-menu li>a.item_menu-active span:before, #menu-lateral .new-menu li>a:hover>span, #menu-lateral .new-menu li>a:hover span:before, #menu-lateral .new-menu li>button.activeli>span, #menu-lateral .new-menu li>button.activeli span:before, #menu-lateral .new-menu li>button.item_menu-active>span, #menu-lateral .new-menu li>button.item_menu-active span:before, #menu-lateral .new-menu li>button:hover>span, #menu-lateral .new-menu li>button:hover span:before {
    color: #00a1c9!important;
}

#menu-lateral .new-menu li button:hover img, #menu-lateral .new-menu li a:hover img {
    filter: invert(45%) sepia(87%) saturate(1816%) hue-rotate(158deg) brightness(91%) contrast(101%);
    opacity: 1;
}

#menu-lateral .img-vertical-menu{
    width: 22px;
    margin: auto;
    opacity: 0.3;
}

#menu-lateral li{
    padding: 0px !important;
}

.scroll_fit {
    scrollbar-width: thin;
    scrollbar-color: #9c9b9b #eee;
}
.scroll_fit{
    scrollbar-width:thin;scrollbar-color:#9c9b9b #eee
}
.scroll_fit::-webkit-scrollbar-button{
    width:0;height:0
}
.scroll_fit::-webkit-scrollbar{
    background-color:#dfe3e4;width:3px
}
.scroll_fit::-moz-scrollbar{
    background-color:#dfe3e4;width:3px
}
.scroll_fit::-webkit-scrollbar-track{
    background-color:#dfe3e4;border-radius:10px
}
.scroll_fit::-webkit-scrollbar-thumb{
    background-color:#9c9b9b;border-radius:10px
}
.scroll_fit::-webkit-scrollbar-thumb:active{
    background:#8a8080
}
.scroll_fit::-webkit-scrollbar-track:hover{
    background:#dedede}
.scroll_fit::-webkit-scrollbar-corner{background:transparent}
