#modal_documentos {
    max-width: 1080px !important;
}

#modal_documentos .modal-header {
    position: relative;
    text-align: center;
    padding-right: 48px!important;
    border: 0!important;
}

#modal_documentos .modal-header .icon-Cerrar-modal{
    right: 17px !important;
}

#modal_documentos .modal-content {
    border-radius: 17px;
    border: 0;
}

#modal_documentos .modal-header .modal-title {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-family: Nexa-bold;
    font-weight: 400;
    color: #686868;
    font-size: 20px;
    padding-top: 8px;
    line-height: 1.3;
}

#modal_documentos .documentos {
    max-height: 380px;
    padding: 15px 50px 0;
    overflow: auto;
    margin-bottom: 30px;
    scrollbar-width: thin;
    scrollbar-color: #9c9b9b #eee;
}

#modal_documentos .documentos .documentos_doc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30px;
    margin: 0 0 37px;
    text-align: left;
}

#modal_documentos .documentos .documentos_doc_textos {
    width: 255px;
}

#modal_documentos .documentos_doc span {
    line-height: 24px;
    font-family: Nexa-regular, sans-serif;
    color: #686868;
}

#modal_documentos .texto_nombre_doc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 25px;
    display: inline-block;
    width: 100%;
}

#modal_documentos .texto_fecha_doc {
    padding-left: 25px;
    font-size: 13px !important;
}

#modal_documentos .col-12.contenedor_documentos.col-lg-6 {
    position: relative;
}

#modal_documentos .modal-title {
    margin-top: 5px
}

#modal_documentos .modal-body2 {
    padding: 10px 15px 28px !important
}

#modal_documentos.modal-header .icon-Cerrar-modal:before {
    font-size: 43px
}

#modal_documentos .documentos {
    max-height: 380px;
    padding: 15px 50px 0;
    overflow: auto;
    margin-bottom: 30px;
    scrollbar-width: thin;
    scrollbar-color: #9c9b9b #eee
}

#modal_documentos .documentos::-webkit-scrollbar-button {
    width: 0;
    height: 0
}

#modal_documentos .documentos::-webkit-scrollbar {
    background-color: #dfe3e4;
    width: 7px
}

#modal_documentos .documentos::-moz-scrollbar {
    background-color: #dfe3e4;
    width: 7px
}

#modal_documentos .documentos::-webkit-scrollbar-track {
    background-color: #dfe3e4;
    border-radius: 10px
}

#modal_documentos .documentos::-webkit-scrollbar-thumb {
    background-color: #9c9b9b;
    border-radius: 10px
}

#modal_documentos .documentos::-webkit-scrollbar-thumb:active {
    background: #8a8080
}

#modal_documentos .documentos::-webkit-scrollbar-track:hover {
    background: #dedede
}

#modal_documentos .documentos::-webkit-scrollbar-corner {
    background: transparent
}

#modal_documentos .documentos_doc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 100%
}

#modal_documentos .documentos_doc .fallo_link_icono {
    opacity: .1
}

#modal_documentos .documentos_doc .fallo_link_boton {
    opacity: .3
}

#modal_documentos .documentos_doc span {
    line-height: 24px;
    font-family: Nexa-regular, sans-serif;
    color: #686868
}

#modal_documentos .documentos_doc_icono {
    left: 5px
}

#modal_documentos .documentos_doc_boton {
    display: block;
    position: absolute;
    width: 120px !important;
    height: 25px !important;
    right: 25px;
    color: #686868 !important
}

#modal_documentos .documentos_doc_boton:focus>p,
#modal_documentos .documentos_doc_boton:focus span,
#modal_documentos .documentos_doc_boton:hover>p,
#modal_documentos .documentos_doc_boton:hover span {
    color: #fff
}

#modal_documentos .documentos_doc_reintentar {
    display: block;
    position: absolute;
    width: 120px !important;
    height: 25px !important;
    right: 25px;
    color: #00a1c9 !important
}

#modal_documentos .documentos_doc_reintentar .boton_descargar {
    color: #00a1c9 !important
}

#modal_documentos .documentos_doc_reintentar:focus>p,
#modal_documentos .documentos_doc_reintentar:focus span,
#modal_documentos .documentos_doc_reintentar:hover>p,
#modal_documentos .documentos_doc_reintentar:hover span {
    color: #fff !important
}

#modal_documentos .documentos .documentos_doc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 30px;
    margin: 0 0 37px;
    text-align: left
}

#modal_documentos .documentos .documentos_doc_icono {
    left: 0
}

#modal_documentos .documentos .documentos_doc .icono_eliminado {
    font-size: 10px;
    color: #c9003d !important;
    position: absolute;
    left: 40px;
    top: 18px;
    font-size: 17px
}

#modal_documentos .documentos .documentos_doc .punto-documentos {
    position: absolute;
    left: 43px;
    top: 14px;
    width: 9px;
    height: 9px;
    background: #c9003d;
    border-radius: 10px
}

#modal_documentos .documentos .documentos_doc_textos {
    width: 255px
}

#modal_documentos .documentos .documentos_doc_textos .tamano_texto_fallo {
    font-size: 13px !important
}

#modal_documentos .documentos .documentos_doc_textos .fallo_documentos {
    padding-left: 25px
}

#modal_documentos .documentos .documentos_doc_textos .fallo_documentos img {
    width: 16px;
    margin-right: 6px
}

#modal_documentos .documentos .documentos_doc_textos .fallo_documentos .tamano_texto,
#modal_documentos .documentos .documentos_doc_textos .fallo_documentos .tamano_texto span {
    font-size: 13px
}

@media screen and (max-width:992px) {
    #modal_documentos .modal-header {
        padding-right: 0 !important
    }

    #modal_documentos .descargar-zip {
        display: none
    }

    #modal_documentos .btn-new-gray.documentos_doc_boton {
        color: #fff !important;
        border: 1px solid #686868 !important;
        background: #686868 !important;
        min-width: auto !important;
        right: 0 !important
    }

    #modal_documentos .btn-new-gray.documentos_doc_boton span {
        color: #fff !important
    }

    #modal_documentos .btn-new-gray.documentos_doc_boton:hover {
        background-color: #686868 !important;
        color: #686868 !important
    }

    #modal_documentos .btn-new-blue.documentos_doc_reintentar {
        color: #fff !important;
        border: 1px solid #00a1c9 !important;
        background: #00a1c9 !important;
        min-width: auto !important;
        right: 0 !important
    }

    #modal_documentos .btn-new-blue.documentos_doc_reintentar span {
        color: #fff !important
    }

    #modal_documentos .btn-new-blue.documentos_doc_reintentar:hover {
        background-color: #00a1c9 !important;
        color: #00a1c9 !important
    }

    #modal_documentos .documentos {
        padding: 15px 45px 0 30px !important
    }

    #modal_documentos .documentos .documentos_doc_textos {
        width: 50%
    }

    #modal_documentos .modal-body2 {
        padding: 0 0 28px !important
    }
}

#modal_documentos .boton_descargar {
    position: absolute;
    left: 14px;
    bottom: 0;
    font-size: 14px!important;
}

#modal_documentos .texto_boton_descargar {
    font-size: 14px!important;
    font-family: Nexa-bold,sans-serif!important;
    width: 75px;
    margin-top: 2px;
    line-height: 12px!important;
    padding-left: 0.938rem;
}