#modal-resumen-perfil .modal-content{
    border-radius: 17px;
    border: 0;
}

@media (min-width: 576px) {
    #modal-resumen-perfil {
        max-width: 100%;
        margin: 3.5rem auto 0;
        padding-left: 17px;
    }
}

#modal-resumen-perfil .modal-header {
    position: relative;
    text-align: center;
    padding-right: 48px!important;
    border: 0!important;
}

#modal-resumen-perfil .modal-header .icon-Cerrar-modal {
    position: absolute;
    top: 17px;
    right: 17px;
    display: inline-block;
    z-index: 3;
    padding: 0;
    margin: 0;
    opacity: 1;
    font-size: 43px;
    color: #c9003d;
    border: 0;
    background-color: transparent;
    outline: none;
    font-weight: 400;
}

#modal-resumen-perfil .modal-header .modal-title {
    font-size: 30px;
    color: #00a1c9;
    text-align: center;
    width: 100%;
}

#modal-resumen-perfil .modal-body {
    padding: 0 26px 23px;
    text-align: left;
}

#modal-resumen-perfil #categorias-resumen{
    border: 0;
}

#modal-resumen-perfil #categorias-resumen .accordion-resumen--card {
    border: 0;
    /* padding: 0 30px 0 12px; */
}

#modal-resumen-perfil #categorias-resumen .accordion-resumen--icono {
    position: absolute;
    left: -12px;
    font-size: 23px;
    background: #fff;
    border: 0;
    /* top: 20px; */
    top: 3px;
    border-radius: 21px;
    height: 22px;
    color: #686868;
}

#modal-resumen-perfil #categorias-resumen .accordion-resumen--titulo {
    background: #66c6de!important;
    display: inline-block;
    font-size: 16px;
    color: #fff!important;
    font-family: Nexa-bold,sans-serif;
    border-radius: 22px;
    width: 100%;
    margin-left: 30px;
    padding: 4px 27px;
    cursor: pointer;
}

#modal-resumen-perfil #categorias-resumen .accordion-resumen--titulo:before {
    content: "";
    position: absolute;
    /* top: 31px; */
    top: 13px;
    left: 10px;
    width: 20px;
    height: 1px;
    background: #e8e8e8;
    border-radius: 30px;
}

#modal-resumen-perfil #categorias-resumen .accordion-resumen--header {
    position: relative;
    width: auto;
    border-left: 1px solid #e8e8e8;
    padding-top: 16px;
    padding-bottom: 0;
}

#modal-resumen-perfil #categorias-resumen button.accordion-button.collapsed .icon-Menos:before {
    content: "\E97A";
}

#modal-resumen-perfil #categorias-resumen .accordion-resumen--body {
    padding: 8px 11px 8px 74px;
    border-left: 1px solid #e8e8e8;
}

#modal-resumen-perfil #categorias-resumen .accordion-button:not(.collapsed){
    background-color: #fff;
    box-shadow: unset !important;
}

#modal-resumen-perfil #categorias-resumen .accordion{
    --bs-accordion-border-color: unset !important
}

#modal-resumen-perfil #categorias-resumen .accordion-button:focus{
    border: #fff;
    box-shadow: unset !important;
}

#modal-resumen-perfil #categorias-resumen .accordion-button{
    padding: 0px;
}

#modal-resumen-perfil #categorias-resumen .accordion-button::after{
    width: unset !important;
}

#modal-resumen-perfil .tree {
    overflow: auto;
}

#modal-resumen-perfil #categorias-resumen .tree-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    overflow: auto;
}

#modal-resumen-perfil .tree>.tree-filter-empty, 
#modal-resumen-perfil .tree>.tree-root {
    padding: 3px;
    box-sizing: border-box;
}

/* .tree-children, .tree-root {
    list-style: none;
    padding: 0;
} */

#modal-resumen-perfil #categorias-resumen .tree-root .tree-node {
    min-width: 33%;
    max-width: 33%;
}

#modal-resumen-perfil .tree-node {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

#modal-resumen-perfil .tree-content {
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

#categorias-resumen .tree-root .tree-arrow {
    margin-left: 0;
}

#categorias-resumen .tree-root .tree-anchor {
    padding: 0 19px;
    margin: 0;
    white-space: normal;
    line-height: 1.2;
}

#modal-resumen-perfil .tree-anchor {
    flex-grow: 2;
    outline: 0;
    display: flex;
    text-decoration: none;
    color: #343434;
    vertical-align: top;
    margin-left: 3px;
    line-height: 24px;
    padding: 3px 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#categorias-resumen .fa.fa-circle {
    font-size: 10px;
    color: #66c6de;
    padding-right: 20px;
}

#modal-resumen-perfil .tree-node:not(.selected)>.tree-content:hover {
    background: #f6f8fb;
}

#modal-resumen-perfil #categorias-resumen #campos-cuantias {
    padding-top: 1rem!important;
    padding-bottom: 0!important;
}

#modal-resumen-perfil #campos-cuantias .campos-cuantias__form {
    padding: 0!important;
    width: 342px;
    display: flex;
    vertical-align: middle;
}

#modal-resumen-perfil #campos-cuantias .campos-cuantias__block {
    margin-top: 25px;
}

#modal-resumen-perfil #campos-cuantias .type_text_two {
    font-family: Nexa-bold,sans-serif!important;
    font-size: 16px!important;
    color: #686868;
}

#modal-resumen-perfil #campos-cuantias .campos-cuantias__block .azul {
    color: #00a1c9;
}

#modal-resumen-perfil #campos-cuantias .campos-cuantias__block .verde {
    color: #73c914;
}

#modal-resumen-perfil #categorias-resumen #campos-cuantias .campos-cuantias__icon{
    font-size: 26px;
}

#modal-resumen-perfil #campos-cuantias .campos-cuantias__form label {
    font-size: 15px;
    margin: 0;
    vertical-align: middle;
    color: #9c9b9b;
    font-family: Nexa-bold,sans-serif;
}

#modal-resumen-perfil #campos-cuantias .type_text {
    font-family: Nexa-bold,sans-serif!important;
    font-size: 15px!important;
    color: #9c9b9b!important;
}

#modal-resumen-perfil #campos-cuantias .campos-cuantias__form .azul {
    color: #00a1c9;
}

#modal-resumen-perfil span#cuantia_desde, 
#modal-resumen-perfil #cuantia_hasta {
    margin-left: 5px !important;
}

#modal-resumen-perfil .sin_items_resumen {
    margin-left: 22px;
    margin-top: 12px;
    font-family: Nexa-bold,sans-serif!important;
    color: #686868!important;
}