/*Sidebar*/
.p-component-overlay-enter{
    animation: none !important;
}

#sidebar-notes .p-sidebar-content{
    padding: 0px !important;
    overflow: unset !important;
}

#sidebar-notes button.p-sidebar-close.p-sidebar-icon.p-link, 
#sidebar-notes .p-sidebar-header{
    display: none;
}

#sidebar-notes .wrapper {
    padding: 20px 44px;
}

#notasContainer,
#sidebar-notes {
    width: 460px!important;
}

#notasContainer,
#sidebar-notes {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-box-shadow: -5px 0 15px hsl(0deg 0% 60% / 50%);
    -ms-box-shadow: -5px 0 15px hsla(0,0%,60%,.5);
    -o-box-shadow: -5px 0 15px hsla(0,0%,60%,.5);
    box-shadow: -5px 0 15px hsl(0deg 0% 60% / 50%);
}

#notasContainer .notes-content a.close-sidebar, 
#sidebar-notes .notes-content a.close-sidebar {
    color: #00a1c9;
    cursor: pointer;
    font-size: 26px;
    left: 12px;
    position: absolute;
    top: 12px;
    text-decoration: none;
}

#notasContainer .notes-content__header, 
#sidebar-notes .notes-content__header {
    border-bottom: 2px solid hsla(0,0%,41%,.1);
    font-family: Nexa-bold,sans-serif;
    margin-top: 26px;
    margin-bottom: 38px;
    outline: none;
    padding-bottom: 38px;
    text-align: center;
}

#notasContainer .notes-content__header h4, 
#sidebar-notes .notes-content__header h4 {
    font-family: Nexa-bold,sans-serif;
    font-size: 22px;
    color: #686868;
}

#notasContainer .notes-content__create, 
#sidebar-notes .notes-content__create {
    border: 0.1em solid #dfe3e4;
    border-radius: 20px;
    margin-bottom: 38px;
    outline: none;
    position: relative;
}

#notasContainer .notes-content__create .notes-header, 
#sidebar-notes .notes-content__create .notes-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#notasContainer .notes-content__create .notes-header .notes-title, 
#sidebar-notes .notes-content__create .notes-header .notes-title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#notasContainer .notes-content__create .notes-header .notes-title input,
#sidebar-notes .notes-content__create .notes-header .notes-title input {
    color: #686868;
    font-family: Nexa-regular,sans-serif;
    border: none;
    outline: none;
    padding: 0 8px 0 21px;
    width: 100%;
}

#notasContainer .notes-content__create .notes-header .notes-title input,
#sidebar-notes .notes-content__create .notes-header .notes-title input {
    color: #686868;
    font-family: Nexa-regular,sans-serif;
    border: none;
    outline: none;
    padding: 0 8px 0 21px;
    width: 100%;
}

#sidebar-notes .wrapper .notes-opts.on-expand {
    padding-top: 11px;
}

#sidebar-notes .icon-Limpiar-click {
    color: inherit;
    text-decoration: none;
}

#notasContainer .notes-content__create .notes-opts.on-expand .icon-Limpiar-click:hover,
#sidebar-notes .notes-content__create .notes-opts.on-expand .icon-Limpiar-click:hover {
    color: #c9003d;
}


#notasContainer .notes-content__create.on-creating .notes-opts, 
#sidebar-notes .notes-content__create.on-creating .notes-opts {
    position: inherit;
}

#notasContainer .workspace, 
#sidebar-notes .workspace {
    padding: 0 2em;
}

#notasContainer .workspace__copy, 
#sidebar-notes .workspace__copy {
    color: #686868;
    font-family: Nexa-regular,sans-serif;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 0;
}

#notasContainer .notes-content__create .notes-opts.on-expand, 
#sidebar-notes .notes-content__create .notes-opts.on-expand {
    cursor: pointer;
    pointer-events: auto;
}

#notasContainer .notes-content__create .notes-opts, 
#sidebar-notes .notes-content__create .notes-opts {
    word-break: break-word;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: hsla(0,0%,41%,.5);
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 16px;
    padding: 14px 10px 8px;
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
}

#sidebar-notes .wrapper #timeNota {
    font-size: 11px;
}

#sidebar-notes .wrapper #timeNota:before {
    padding-right: 10px;
}

#sidebar-notes .wrapper #timeNota .text-fecha__hora {
    padding-right: 15px;
    color: #686868;
    font-family: Nexa-regular,sans-serif;
}

#notasContainer .notes-content__create .notes-opts.on-expand .icon-Limpiar-click:hover,
 #sidebar-notes .notes-content__create .notes-opts.on-expand .icon-Limpiar-click:hover {
    color: #c9003d;
}

#notasContainer .notes-content__create .textarea-container,
#sidebar-notes .notes-content__create .textarea-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-left: 5px;
    padding-right: 16px;
}

#notasContainer .notes-content__create.on-creating textarea, 
#sidebar-notes .notes-content__create.on-creating textarea {
    cursor: auto;
    height: 100px !important;
}

#notasContainer .notes-content__create .textarea-container textarea, 
#sidebar-notes .notes-content__create .textarea-container textarea {
    border: none;
    border-top-left-radius: 20px;
    color: #686868;
    cursor: pointer;
    height: 50px;
    outline: none;
    padding: 0 10px 10px 17px;
    resize: none;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #9c9b9b #eee;
}

#notasContainer .notes-content__create .textarea-container textarea:focus, 
#sidebar-notes .notes-content__create .textarea-container textarea:focus,
#sidebar-notes .notes-content__create .notes-header .notes-title input:focus{
    border: none !important;
}

#notasContainer .notes-content__create .button-create-container, #sidebar-notes .notes-content__create .button-create-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 5px 10px 10px;
}

#notasContainer .notes-content__zone, #sidebar-notes .notes-content__zone {
    border-top: 2px solid hsla(0,0%,41%,.1);
    outline: none;
    padding-top: 16px;
}

#notasContainer .notes-content__zone-input-search .input-container input, #sidebar-notes .notes-content__zone-input-search .input-container input {
    border: 0.1em solid #dfe3e4;
    border-radius: 20px;
    color: #686868;
    display: block;
    outline: none;
    padding: 5px 36px 5px 15px;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#notasContainer .notes-content__zone-input-search .input-container, #sidebar-notes .notes-content__zone-input-search .input-container {
    position: relative;
}

#notasContainer .notes-content__zone-input-search .input-container span.icon-Buscar-click, 
#sidebar-notes .notes-content__zone-input-search .input-container span.icon-Buscar-click {
    color: #00a1c9;
    top: 8px;
    right: 12px;
    font-size: 20px;
}

#notasContainer .notes-content__zone-input-search .input-container span.icon-Cancelar, 
#sidebar-notes .notes-content__zone-input-search .input-container span.icon-Cancelar {
    color: #c9003d;
    right: 40px;
    font-size: 18px;
    top: 10px;
}

#notasContainer .notes-content__zone-input-search .input-container span[class^=icon-], 
#sidebar-notes .notes-content__zone-input-search .input-container span[class^=icon-] {
    cursor: pointer;
    position: absolute;
}

#notasContainer .notes-content__zone-list-notes.contract, #sidebar-notes .notes-content__zone-list-notes.contract {
    max-height: 30vh;
}

#notasContainer .notes-content__zone-list-notes, #sidebar-notes .notes-content__zone-list-notes {
    height: 48vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #9c9b9b #eee;
}

#notasContainer .notes-content__zone-list-notes ul, #sidebar-notes .notes-content__zone-list-notes ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 10px 12px;
}

#notasContainer .notes-content__zone-list-notes ul li.note, #sidebar-notes .notes-content__zone-list-notes ul li.note {
    border-radius: 20px;
    -webkit-box-shadow: 0 4px 9px rgb(0 0 0 / 11%);
    -ms-box-shadow: 0 4px 9px rgba(0,0,0,.11);
    -o-box-shadow: 0 4px 9px rgba(0,0,0,.11);
    box-shadow: 0 4px 9px rgb(0 0 0 / 11%);
    cursor: pointer;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
}

#sidebar-notes .wrapper .note {
    cursor: move!important;
    z-index: 0;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-data, #sidebar-notes .notes-content__zone-list-notes ul li.note .note-data {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#sidebar-notes .wrapper .note-data {
    cursor: pointer!important;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-data .note-icon, #sidebar-notes .notes-content__zone-list-notes ul li.note .note-data .note-icon {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-data .note-icon img, #sidebar-notes .notes-content__zone-list-notes ul li.note .note-data .note-icon img {
    max-width: 60px;
    margin-right: 10px;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-data .note-description, #sidebar-notes .notes-content__zone-list-notes ul li.note .note-data .note-description {
    -webkit-box-flex: 6;
    -ms-flex: 6;
    flex: 6;
    font-family: Nexa-regular,sans-serif;
    color: #686868;
    text-align: start;
    max-width: 80%;
}

#sidebar-notes .wrapper .notes-drag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    word-break: break-all;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-data .note-description span.note-description__title, #sidebar-notes .notes-content__zone-list-notes ul li.note .note-data .note-description span.note-description__title {
    font-family: Nexa-bold,sans-serif;
    width: 115px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#sidebar-notes .wrapper #timeNota {
    font-size: 11px;
}

#sidebar-notes .wrapper #timeNota:before {
    padding-right: 10px;
}

#sidebar-notes .wrapper #timeNota .text-fecha__hora {
    padding-right: 15px;
    color: #686868;
    font-family: Nexa-regular,sans-serif;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-data .note-description p.note-descrition__body, #sidebar-notes .notes-content__zone-list-notes ul li.note .note-data .note-description p.note-descrition__body {
    margin: 0;
    line-height: 1.3;
    word-break: break-all;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-actions, #sidebar-notes .notes-content__zone-list-notes ul li.note .note-actions {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: hsla(0,0%,41%,.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 12px;
    position: relative;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-actions .direct-access-controls, 
#sidebar-notes .notes-content__zone-list-notes ul li.note .note-actions .direct-access-controls {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 30px;
    opacity: 0;
    position: absolute;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#notasContainer .notes-content__zone-list-notes ul li.note:hover .note-actions .direct-access-controls, 
#sidebar-notes .notes-content__zone-list-notes ul li.note:hover .note-actions .direct-access-controls {
    opacity: 1;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-actions .direct-access-controls a.hover-icon, 
#sidebar-notes .notes-content__zone-list-notes ul li.note .note-actions .direct-access-controls a.hover-icon {
    font-size: 18px;
    color: inherit;
    text-decoration: none;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-actions a, 
#sidebar-notes .notes-content__zone-list-notes ul li.note .note-actions a {
    cursor: pointer;
    font-family: Nexa-regular,sans-serif;
    font-size: 14px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#notasContainer .notes-content__zone-list-notes,
#sidebar-notes .notes-content__zone-list-notes{
    height:48vh;
    overflow-x:hidden;
    overflow-y:scroll;
    scrollbar-width:thin;
    scrollbar-color:#9c9b9b #eee
}

#notasContainer .notes-content__zone-list-notes::-webkit-scrollbar-button,
#sidebar-notes .notes-content__zone-list-notes::-webkit-scrollbar-button{
    width:0;
    height:0;
}

#notasContainer .notes-content__zone-list-notes::-webkit-scrollbar,
#sidebar-notes .notes-content__zone-list-notes::-webkit-scrollbar{
    background-color:#dfe3e4;
    width:5px;
}

#notasContainer .notes-content__zone-list-notes::-moz-scrollbar,
#sidebar-notes .notes-content__zone-list-notes::-moz-scrollbar{
    background-color:#dfe3e4;
    width:5px;
}

#notasContainer .notes-content__zone-list-notes::-webkit-scrollbar-track,
#sidebar-notes .notes-content__zone-list-notes::-webkit-scrollbar-track{
    background-color:#dfe3e4;
    border-radius:10px;
}

#notasContainer .notes-content__zone-list-notes::-webkit-scrollbar-thumb,
#sidebar-notes .notes-content__zone-list-notes::-webkit-scrollbar-thumb{
    background-color:#9c9b9b;
    border-radius:10px;
}

#notasContainer .notes-content__zone-list-notes::-webkit-scrollbar-thumb:active,
#sidebar-notes .notes-content__zone-list-notes::-webkit-scrollbar-thumb:active{
    background:#8a8080;
}

#notasContainer .notes-content__zone-list-notes::-webkit-scrollbar-track:hover,
#sidebar-notes .notes-content__zone-list-notes::-webkit-scrollbar-track:hover{
    background:#dedede;
}

#notasContainer .notes-content__zone-list-notes::-webkit-scrollbar-corner,
#sidebar-notes .notes-content__zone-list-notes::-webkit-scrollbar-corner{
    background:transparent;
}


#sidebar-notes .infinite--no-data {
    text-align: center;
}

#notasContainer .notes-content__zone-list-notes ul li.note.on-edit, 
#sidebar-notes .notes-content__zone-list-notes ul li.note.on-edit {
    padding-top: 40px!important;
    position: relative;
}

#notasContainer .notes-content__zone-list-notes ul li.note.on-edit .note-header-opts, 
#sidebar-notes .notes-content__zone-list-notes ul li.note.on-edit .note-header-opts {
    position: absolute;
    top: 12px;
    right: 0;
}

#notasContainer .notes-content__zone-list-notes ul li.note.on-edit .note-header-opts .controls, 
#sidebar-notes .notes-content__zone-list-notes ul li.note.on-edit .note-header-opts .controls {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#notasContainer .notes-content__zone-list-notes ul li.note.on-edit .note-header-opts .controls a, 
#sidebar-notes .notes-content__zone-list-notes ul li.note.on-edit .note-header-opts .controls a {
    color: hsla(0,0%,41%,.5);
    font-size: 18px;
    margin-right: 33px;
}

#notasContainer .notes-content__zone-list-notes ul li.note.on-edit .note-header-opts .controls a.icon-Eliminar, 
#sidebar-notes .notes-content__zone-list-notes ul li.note.on-edit .note-header-opts .controls a.icon-Eliminar {
    font-size: 16px;
    text-decoration: none;
}


#notasContainer .notes-content__zone-list-notes ul li.note .note-data .note-description input.onEditTitleNote, 
#sidebar-notes .notes-content__zone-list-notes ul li.note .note-data .note-description input.onEditTitleNote {
    border: none;
    color: #686868;
    font-family: Nexa-bold,sans-serif;
    outline: none;
    width: 100%;
    padding: 0px;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-data .note-description textarea.onEditNote, 
#sidebar-notes .notes-content__zone-list-notes ul li.note .note-data .note-description textarea.onEditNote {
    border: none;
    color: #686868;
    font-family: Nexa-regular,sans-serif;
    line-height: 1.3;
    min-height: 40px;
    outline: none;
    padding-right: 15px;
    padding-top: 8px;
    padding-left: 0px;
    resize: none;
    width: 100%;
    scrollbar-width: thin;
    scrollbar-color: #9c9b9b #eee;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-data .note-description textarea.onEditNote:focus, 
#sidebar-notes .notes-content__zone-list-notes ul li.note .note-data .note-description textarea.onEditNote:focus,
#notasContainer .notes-content__zone-list-notes ul li.note .note-data .note-description input.onEditTitleNote:focus, 
#sidebar-notes .notes-content__zone-list-notes ul li.note .note-data .note-description input.onEditTitleNote:focus{
    border: none !important;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-actions .manual-controls a:first-of-type, 
#sidebar-notes .notes-content__zone-list-notes ul li.note .note-actions .manual-controls a:first-of-type {
    margin-right: 20px;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-actions .manual-controls a i, 
#sidebar-notes .notes-content__zone-list-notes ul li.note .note-actions .manual-controls a i {
    margin-right: 6px;
}

#notasContainer .notes-content__zone-list-notes ul li.note .note-actions .manual-controls a, 
#sidebar-notes .notes-content__zone-list-notes ul li.note .note-actions .manual-controls a {
    font-family: Nexa-regular,sans-serif;
    font-size: 14px;
    padding: 6px 12px;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#sidebar-notes .notasCargando {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 20;
}

#notasContainer .notes-content, 
#sidebar-notes .notes-content {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

#sidebar-notes img.loader-notas {
    max-width: unset;
    margin-top: -613px;
}