.mx-60 {
    margin-left: 60px;
    margin-right: 60px;
}

input.form-control-mbu.busqueda-input {
    width: 50%;
}

.contenedor-planes {
    display: flex;
    flex-direction: column;
}

ul {
    padding-left: 0px !important;
}

.tree-content-mbu {
    cursor: pointer;
}

.tree-content-mbu:hover {
    background: #f6f8fb;
}

.tree_categorias-mbu__busqueda-mbu {
    text-align: center;
    position: relative;
}

@media (min-width: 768px) {
    .mb-md-4,
    .my-md-4 {
        margin-bottom: 1.5rem !important;
    }
}

.busqueda-input {
    padding: 0px 10px 0px 30px !important;
}

.tree_categorias-mbu__busqueda-mbu input {
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    color: #73c914;
}

.tree_categorias-mbu__busqueda-mbu button {
    background: none;
    padding: 3px 8px;
    font-size: 19px;
    color: #686868;
    border: 0;
    cursor: pointer;
    position: absolute;
}

.tree-anchor-mbu {
    flex-grow: 2;
    outline: 0;
    display: flex;
    text-decoration: none;
    color: #343434;
    vertical-align: top;
    line-height: 24px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tree-arrow-mbu {
    position: absolute;
    right: 30px;
    width: 16px;
    flex-shrink: 0;
    cursor: pointer;
    width: 0;
    color: #fff;
}

@media (min-width: 768px) {
    .tree-content-mbu .tree-division-mbu {
        width: 100%;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 768px) {
    .tree-content-mbu .tree-division-mbu__title {
        background: #66c6de !important;
        display: inline-block;
        font-size: 17px;
        font-weight: bold;
        color: #fff !important;
        font-family: Nexa-bold, sans-serif;
        border-radius: 22px;
        text-align: center;
        width: 100%;
        padding: 4px 10px;
    }

    .tree-content-mbu .tree-division-mbu__title-gray {
        background: #3a3a3a3a !important;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        color: #00a1c9 !important;
        font-family: Nexa-bold, sans-serif;
        border-radius: 22px;
        text-align: center;
        width: 100%;
        padding: 4px 10px;
    }

    .tree-content-mbu.actividad-economica .tree-division-mbu__title {
        font-weight: 100;
    }
}

.form-control-mbu {
    border: 1px solid #ddd !important;
    border-radius: 1rem !important;
    font-family: Nexa-bold, sans-serif;
    -webkit-border-radius: 1rem !important;
    -moz-border-radius: 1rem !important;
    -ms-border-radius: 1rem !important;
    -o-border-radius: 1rem !important;
}

.tree-node-mbu.has-child .tree-content-mbu {
    border-bottom: 2px solid #e6e5e5;
    padding: 7px 18px 14px !important;
}

.tree-node-mbu.has-child.segmento .tree-content-mbu .tree-division-mbu__title {
    background: #fff !important;
    padding: 4px 10px;
    font-size: 12px !important;
    color: #00a1c9 !important;
    font-family: Nexa-bold, sans-serif;
}

.tree-children-mbu .tree-content-mbu .tree-division-mbu {
    padding: 0 10px 0 10px;
}

.tree-content-mbu {
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.custom-scroll-mbu {
    height: 89vh;
    overflow-y: scroll;
}

.name_section_app-mbu {
    text-align: center;
    display: block;
    max-width: 410px;
    margin: 0 398px;
    color: #00a1c9;
    font-family: Nexa-bold, sans-serif;
    font-size: 24px;
    font-weight: bold;
    border: 0;
}

.tree-root-mbu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    overflow: auto;
}

.tree-root-mbu .tree-node-mbu {
    min-width: 50%;
    width: 50%;
    padding: 5px 10px 15px;
    -webkit-transition: -webkit-box-shadow 0.25s ease;
    transition: -webkit-box-shadow 0.25s ease;
    transition: box-shadow 0.25s ease;
    transition: box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease;
}

.tree-node-mbu {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

.tree-node-mbu.has-child.draggable.expanded {
    min-width: 100%;
}

/*Confirmar *
    .tree_categorias-mbu
    .tree-root-mbu
    .tree-children-mbu:first-of-type
    .tree-node-mbu.has-child {
    min-width: 50%;
    max-width: 50%;
    padding: 6px 26px 5px;
}
/*Fin Confirmar */

.tree_categorias-mbu .tree-root-mbu .tree-children-mbu:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    overflow: auto;
}

input[type="checkbox"] {
    border: 2px solid #66c6de;
    padding: 7px;
    margin-right: 10px;
    border-radius: 5px;
}

.check-minus {
    background-color: #73c914;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-dash-lg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/></svg>');
    background-size: cover;
}
