#BusquedaTiposCompras .modal-body,
#BusquedaTiposCompras .modal-content {
    padding: 0px 0px 5px 0px !important;
}

#BusquedaTiposCompras .modal.show .modal-dialog {
    transform: none;
    height: 0px;
    /* margin-top: 55px; */
}

#BusquedaTiposCompras .mx-60 {
    margin-left: 60px;
    margin-right: 60px;
}

#BusquedaTiposCompras .mt-30 {
    margin-top: 0px;
}

#BusquedaTiposCompras input.form-control.busqueda-input {
    width: 60%;
    height: 35px;
}
#BusquedaTiposCompras .contenedor-planes {
    display: flex;
    flex-direction: row;
}

#BusquedaTiposCompras body {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

#BusquedaTiposCompras a {
    text-align: center;
    font-weight: bold;
    color: unset !important;
    text-decoration: none !important;
}

#BusquedaTiposCompras ul {
    padding-left: 0px !important;
}

#BusquedaTiposCompras html {
    background-color: #f3f4f6;
}

#BusquedaTiposCompras input.btn.btn-info {
    background: #1383ac;
    border-color: #1383ac;
    color: #fff;
}

#BusquedaTiposCompras th {
    font-size: 12px !important;
}

#BusquedaTiposCompras .planes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #00a1c9 !important;
    font-weight: bold;
    font-size: 22px;
    justify-content: space-between;
    height: 40px;
    margin-bottom: -5px;
}

/* #BusquedaTiposCompras .margen-superior {
    margin-top: 10px !important;
} */

#BusquedaTiposCompras .contenedor-botones {
    display: flex;
    flex-direction: row;
}

#BusquedaTiposCompras .actualizar-color {
    color: #00a1c9;
}

#BusquedaTiposCompras .autorenew {
    background-color: #ffffff;
    width: 35px;
    height: 35px;
    border-bottom: solid 1px #b5b5b5;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;
    padding: 5px;
    color: black;
}

#BusquedaTiposCompras .add_circle {
    background-color: rgb(58, 182, 0);
    width: 35px;
    height: 35px;
    border-bottom: solid 1px #b5b5b5;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
}

#BusquedaTiposCompras .material-symbols-outlined-color {
    color: white;
}

#BusquedaTiposCompras .tree-content {
    cursor: pointer;
}

#BusquedaTiposCompras .tree-content:hover {
    padding-top: 10px;
    background: #f6f8fb;
}

#BusquedaTiposCompras .tree_categorias__busqueda {
    text-align: center;
    position: relative;
}

@media (min-width: 768px) {
    #BusquedaTiposCompras .mb-md-4,
    #BusquedaTiposCompras .my-md-4 {
        margin-bottom: 1.5rem !important;
    }
}

#BusquedaTiposCompras .tree_categorias__busqueda > div > input {
    position: relative;
    display: block;
    max-width: 550px;
    float: left;
}

#BusquedaTiposCompras .busqueda-input {
    padding: 0px 10px 0px 30px !important;
}

#BusquedaTiposCompras .tree_categorias__busqueda input {
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    color: #73c914;
}

#BusquedaTiposCompras .tree_categorias__busqueda button {
    background: none;
    padding: 7px 2px;
    font-size: 19px;
    color: #686868;
    border: 0;
    cursor: pointer;
    position: absolute;
}

#BusquedaTiposCompras .tree-anchor {
    flex-grow: 2;
    outline: 0;
    display: flex;
    text-decoration: none;
    color: #343434;
    vertical-align: top;
    line-height: 24px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#BusquedaTiposCompras .tree-arrow {
    position: absolute;
    right: 30px;
    width: 16px;
    flex-shrink: 0;
    cursor: pointer;
    width: 0;
    color: #fff;
}

@media (min-width: 768px) {
    #BusquedaTiposCompras .tree-content .tree-division {
        width: 100%;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 768px) {
    #BusquedaTiposCompras .tree-content .tree-division__title {
        background: #66c6de !important;
        display: inline-block;
        font-size: 17px;
        font-weight: bold;
        color: #fff !important;
        font-family: Nexa-bold, sans-serif;
        border-radius: 25px;
        text-align: center;
        width: 100%;
        padding: 4px 10px;
    }

    #BusquedaTiposCompras .tree-content .tree-division__title-gray {
        background: #3a3a3a3a !important;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color: #00a1c9 !important;
        font-family: Nexa-bold, sans-serif;
        border-radius: 25px;
        text-align: center;
        width: 100%;
        padding: 4px 10px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    #BusquedaTiposCompras
        .tree-content.actividad-economica
        .tree-division__title {
        font-weight: 100;
    }
}

#BusquedaTiposCompras .form-control {
    border: 1px solid #ddd !important;
    border-radius: 1rem !important;
    font-family: Nexa-bold, sans-serif;
}

#BusquedaTiposCompras .tree-node.has-child > .tree-content {
    border-bottom: 2px solid #e6e5e5;
    padding: 0px 0px 10px 0px !important;
}

#BusquedaTiposCompras
    .tree-node.has-child.segmento
    > .tree-content
    .tree-division__title {
    background: #fff !important;
    padding: 4px 10px;
    font-size: 14px !important;
    color: #00a1c9 !important;
    font-family: Nexa-bold, sans-serif;
}

#BusquedaTiposCompras .tree-children:first-of-type .tree-node.has-child {
    min-width: 50%;
    max-width: 100%;
    padding: 6px 26px 5px;
}

#BusquedaTiposCompras .tree-anchor.children {
    padding: 0 19px;
    margin: 0;
    white-space: pre-line;
}

#BusquedaTiposCompras .tree-anchor.children .tree-division__title {
    background: #fff !important;
    font-size: 14px;
    color: #000 !important;
    text-align: left;
    font-weight: inherit;
}

#BusquedaTiposCompras .tree-anchor.children .tree-division__title-gray {
    background: #3a3a3a3a !important;
    font-size: 14px;
    color: #000 !important;
    text-align: left;
    border-radius: 25px;
    width: 100%;
    padding: 4px 10px;
    font-weight: inherit;
}

#BusquedaTiposCompras .tree-children .tree-content .tree-division {
    padding: 10px 10px 0px 20px;
}

.tree_categorias
    .tree-root
    .tree-children:first-of-type
    .tree-node.has-child
    > .tree-content
    #BusquedaTiposCompras
    .tree-division__title {
    font-size: 14px;
    color: #00a1c9;
    font-family: Nexa-bold, sans-serif;
}

#BusquedaTiposCompras .tree-checkbox {
    width: 19px;
    height: 19px;
    border: 2px solid #dadada;
    border-radius: 9px;
}

.tree-arrow:after,
#BusquedaTiposCompras .tree-checkbox:after {
    position: absolute;
    display: block;
    content: "";
}

#BusquedaTiposCompras .tree-checkbox.checked {
    background-color: #73c914;
    border-color: #73c914 !important;
}

#BusquedaTiposCompras .tree-content {
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

#BusquedaTiposCompras .tree-content.actividad-economica {
    padding-left: 48px;
}

#BusquedaTiposCompras body {
    overflow: scroll;
}

#BusquedaTiposCompras .botones {
    font-size: 25px;
    display: flex;
    justify-content: center;
}

#BusquedaTiposCompras .btn-new-green {
    background-color: chartreuse !important;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    width: 150px;
    padding: 5px 0px;
    color: white;
    font-weight: 500;
}

#BusquedaTiposCompras .btn-new-green:hover {
    color: chartreuse !important;
    background: white !important;
    border: 2px solid chartreuse !important;
}

#BusquedaTiposCompras .btn-new-red {
    color: #dc3545 !important;
    border: 1px solid #dc3545 !important;
}

#BusquedaTiposCompras .btn-new-red:hover {
    background: #dc3545 !important;
    color: #fff !important;
}

#BusquedaTiposCompras .infinite-scroll {
    overflow: auto;
    height: 35em;
}

#BusquedaTiposCompras .posicion-opciones-planes {
    margin-top: 48px;
}

#BusquedaTiposCompras .custom-scroll {
    height: 80vh;
    overflow-y: scroll;
}

#BusquedaTiposCompras .name_section_app {
    color: #8d8d8d;
    font-family: Nexa-bold, sans-serif;
    font-size: 24px;
    font-weight: bold;
    border: 0;
    margin-left: 400px;
    /* padding-bottom: 5px; */
    /* background-image: linear-gradient(
        90deg,
        #e1e1e1 0,
        #e1e1e1 50%,
        transparent 0
    );
    background-size: 16px 2px;
    background-position: bottom;
    background-repeat: repeat-x; */
}

#BusquedaTiposCompras .c-verde {
    color: #73c914;
}

#BusquedaTiposCompras .perfiles-titulos {
    display: block;
    margin: 0 auto;
    color: gray;
    font-family: Nexa-bold, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
}

#BusquedaTiposCompras .perfiles-titulos.crear {
    padding: 25px 0px;
}

#BusquedaTiposCompras .tree-root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    overflow: auto;
}

#BusquedaTiposCompras .tree-root {
    /* padding: 3px; */
    box-sizing: border-box;
}

#BusquedaTiposCompras .tree-root > .tree-node {
    min-width: 50%;
    width: 50%;
    /* padding: 5px 10px 15px; */
    -webkit-transition: -webkit-box-shadow 0.25s ease;
    transition: -webkit-box-shadow 0.25s ease;
    transition: box-shadow 0.25s ease;
    transition: box-shadow 0.25s ease, -webkit-box-shadow 0.25s ease;
}

#BusquedaTiposCompras .tree-node {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
}

#BusquedaTiposCompras .tree-node.has-child.draggable.expanded {
    min-width: 100%;
}

#BusquedaTiposCompras
    .tree_categorias
    .tree-root
    .tree-children:first-of-type
    .tree-node.has-child {
    min-width: 50%;
    max-width: 50%;
    padding: 6px 26px 5px;
}

#BusquedaTiposCompras .tree-children {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    overflow: auto;
}

#BusquedaTiposCompras .tree_categorias .tree-root .tree-children:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    overflow: auto;
}

#BusquedaTiposCompras .tree_categorias .tree-root .tree-children {
    /* padding: 12px 20px; */
    padding: 0px 0px;
}

.tree_categorias
    .tree-root
    .tree-children:first-of-type
    #BusquedaTiposCompras
    .tree-node.has-child.expanded {
    min-width: 100%;
}

#BusquedaTiposCompras .tree_categorias .tree-root .tree-children .tree-node {
    min-width: 100%;
    max-width: 100%;
}

#BusquedaTiposCompras .perfil-guias {
    padding: 20px 20px 25px;
}

#BusquedaTiposCompras .perfil-guias__indicador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
    justify-content: left;
}

#BusquedaTiposCompras .icon-Paso-1-click:before {
    content: "\e9f7";
}

#BusquedaTiposCompras .perfil-guias ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#BusquedaTiposCompras .perfil-guias__indicador--activo i {
    color: #73c914;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

#BusquedaTiposCompras .perfil-guias__indicador i {
    font-size: 40px;
    /* color: #d7d7d7; */
}

#BusquedaTiposCompras .perfil-guias ul li:first-child div:before {
    height: 0;
    width: 0;
    margin: 0;
}

/* #BusquedaTiposCompras .perfil-guias__indicador--activo span {
    color: #686868;
} */

#BusquedaTiposCompras .perfil-guias__indicador span {
    font-family: Nexa-bold, sans-serif;
    /* color: #d7d7d7; */
    color: #73c914;
    font-size: 16px;
    margin-left: 20px;
    display: inline-block;
    line-height: 15px !important;
    font-weight: bold;
}

/* #BusquedaTiposCompras .tree_categorias__busqueda>div {
    position: relative;
    display: block;
    max-width: 550px;
} */

#BusquedaTiposCompras .tree_categorias__busqueda input {
    padding: 4px 60px 4px 13px;
    font-size: 15px;
}

#BusquedaTiposCompras .form-control {
    border: 1px solid #ddd;
    border-radius: 1rem;
}

.form-control,
#BusquedaTiposCompras .inputs-rounded {
    font-family: Nexa-regular, sans-serif;
}

#BusquedaTiposCompras button.icon-Buscar-click {
    left: inherit;
}

#BusquedaTiposCompras input[type="checkbox"] {
    border: 2px solid #66c6de;
    padding: 7px;
    margin-right: 10px;
}
