#grupos .p-column-filter.p-fluid.p-column-filter-row button {
    display: none;
}

#grupos #limpiar{
    display: block;
}

#grupos .volver_icon {
    margin-right: 6px;
    font-size: 12px;
}

#grupos th[role="columnheader"] {
    background: #00a1c9 !important;
    color: #fff;
}

#grupos th[role="columnheader"]:first-child {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

#grupos th[role="columnheader"]:last-child {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

#grupos .p-datatable .p-datatable-thead>tr:nth-child(1)>th {
    padding: 3px 0 !important;
    border: 0px;
    border-width: 0px;
}

#grupos .p-datatable .p-datatable-thead>tr:nth-child(2)>th {
    padding: 6px 0 !important;
    border: 0px;
    border-width: 0px;
}

#grupos .p-datatable .p-column-header-content {
    display: unset !important;
    align-items: center;
}

#grupos .p-datatable .p-datatable-tbody > tr {
    -webkit-box-shadow: 1px 0 1px 2px #f5f5f5;
    box-shadow: 1px 0 1px 2px #f5f5f5;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 85px;
}

.p-datatable .p-datatable-thead > tr > th{
    background-color: #fff !important;
}

.p-inputtext:enabled:hover, .p-inputtext:enabled:focus {
    border-color: unset !important;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus{
    box-shadow: unset !important;
    border-color: unset !important;
}

#grupos span.p-column-title {
    text-align: center !important;
    display: grid;
    min-height: 28px;
    vertical-align: middle;
    -ms-flex-line-pack: center;
    align-content: center;
    font-size: 11px;
}

#grupos .col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#grupos .p-inputtext {
    padding: 0px;
    border-radius: 0px;
    text-align: center;
}

#grupos .p-inputtext::placeholder,
#grupos .p-dropdown-label {
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    padding: 4px 0px 3.5px 10px;
    vertical-align: middle;
}

#grupos th:nth-child(2)>div>div>input[placeholder="Buscar"] {
    border-top-left-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    border-left: 1px solid #d3d3d3 !important;
    border-left-width: 1px !important;
    border-left-style: solid !important;
    border-left-color: rgb(211, 211, 211) !important;
}

#grupos .p-datatable .p-datatable-tbody>tr>td {
    padding: 20px 0px 0px 5px;
    min-width: 150px !important;
    background: #fff;
    vertical-align: middle !important;
    text-align: center;
    font-size: 13px !important;
    font-family: Nexa-bold, sans-serif !important;
    color: #686868;
    border: 0px;
    border-width: 0px;
}

#grupos .p-datatable .p-datatable-tbody>tr>td.columna_pequena {
    min-width: 12px !important;
    padding: 0 4px;
}


#grupos .p-dropdown {
    border-radius: 0px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-right: 1px solid #d3d3d3 !important;
}

/*Ocultar paginador*/
#grupos .p-datatable .p-paginator-bottom {
    display: none;
}

#grupos .pi {
    font-size: 10px;
}

#grupos .p-datatable .p-datatable-thead>tr:nth-child(2)>th.columna_notificaciones{
    max-width: 110px;
}

#grupos .p-datatable .p-datatable-tbody>tr>td.columna_notificaciones{
    min-width: 110px !important;
    max-width: 110px !important;
}

#grupos .p-datatable .p-datatable-thead>tr:nth-child(2)>th.columna_grande{
    min-width: 220px;
}

#grupos .p-datatable .p-datatable-thead>tr:nth-child(2)>th.columna_promedio{
    min-width: 150px;
}

#grupos .p-datatable .p-datatable-thead>tr:nth-child(2)>th.columna_nombre, #grupos .p-datatable .p-datatable-tbody>tr>td.columna_acciones {
    min-width: 260px;
}

#grupos .p-datatable .p-datatable-tbody>tr>td.columna_nombre {
    min-width: 290px !important;
    position: relative;
    padding-left: 36px;
    padding-right: 5px;
    display: block;
    padding-top: 42px;
}

#grupos .columna_nombre--img {
    position: relative;
    height: 52px;
    width: 52px;
    padding: 12px;
    background-color: #f3f3f3;
    border-radius: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.columna_nombre--content-img {
    position: absolute;
    left: -16px;
    top: 22px;
}

#grupos .iconos_functions_grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#grupos .iconos_functions_grid {
    border-radius: 20px;
    padding: 2px 6px;
}

#grupos .iconos_functions_grid button {
    margin: 0 5px;
}

#grupos .icon-pd-editar {
    padding-left: 0;
    padding-right: 0.625rem;
}

#grupos .iconos_functions_grid a,
#grupos .iconos_functions_grid button {
    display: inline-block;
    background: none;
    border: 0;
    font-size: 16px;
    color: #9c9b9b;
    vertical-align: middle;
    cursor: pointer;
    outline: none !important;
    text-decoration: none !important;
    padding: 0 9px;
}

#grupos .iconos_functions_grid .icon-Leidos {
    font-size: 23px;
}

#grupos .iconos_functions_grid .icon-Editar:hover:before {
    color: #60c4dd;
}

#grupos .iconos_functions_grid .icon-Eliminar:hover:before {
    color: #c9003d;
}

#grupos .iconos_functions_grid .icon-Duplicar:hover:before {
    color: #003dc9;
}

#grupos .iconos_functions_grid .icon-Leidos:hover:before {
    color: #007997;
}

#grupos .iconos_functions_grid .icon-Informacin-click:hover:before {
    color: #73c914;
}

.tooltip .tooltip-inner {
    font-size: 11px;
    max-width: 250px;
    padding: 8px 10px;
    border-radius: 4px;
    color: #fff;
    font-family: Nexa-bold, sans-serif !important;
    -webkit-box-shadow: 0 0 10px 3px hsl(0deg 5% 65% / 39%);
    -ms-box-shadow: 0 0 10px 3px hsla(0, 5%, 65%, .39);
    -o-box-shadow: 0 0 10px 3px hsla(0, 5%, 65%, .39);
    box-shadow: 0 0 10px 3px hsl(0deg 5% 65% / 39%);
}

.tooltip-editar .tooltip-inner{
    background-color: #60c4dd;
}

.tooltip-editar .tooltip-arrow:before {
    border-top-color: #60c4dd !important;
}

.tooltip-eliminar .tooltip-inner{
    background-color: #c9003d;
}

.tooltip-eliminar .tooltip-arrow:before {
    border-top-color: #c9003d !important;
}

.tooltip-duplicar .tooltip-inner{
    background-color: #003dc9;
}

.tooltip-duplicar .tooltip-arrow:before {
    border-top-color: #003dc9 !important;
}

.tooltip-leidos .tooltip-inner{
    background-color: #007997;
}

.tooltip-leidos .tooltip-arrow:before {
    border-top-color: #007997 !important;
}

.tooltip-info .tooltip-inner{
    background-color: #73c914;
}

.tooltip-info .tooltip-arrow:before {
    border-top-color: #73c914 !important;
}

#grupos input{
    cursor: pointer;
}

#grupos .p-inputtext{
    font-size: 11px;
    font-weight: bold;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item{
    padding: 0px !important;
    text-align: center;
}

.p-dropdown-panel .p-dropdown-items{
    padding: 0px !important;
}

th.p-filter-column.v-hidden{
    visibility: hidden;
}

.borrador-grid {
    border: 0!important;
    background: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline: none!important;
    cursor: pointer;
    padding: 9px!important;
    font-size: 21px;
    color: #9c9b9b;
}

.borrador-grid:hover {
    color: #c9003d!important;
}

.selecciones-nuevo-diseno {
    display: block;
    position: relative;
    text-align: center;
}


/*Modals*/

#modal_edit_perfil {
    min-width: 550px;
}

#modal_edit_perfil > .modal-content {
    max-width: 550px;
    border-radius: 17px;
    border: 0;
    padding: 0px 20px;
}

#modal_edit_perfil .modal-header {
    padding: 15px 41px 19px;
}

#modal_edit_perfil .modal-header, #modalEliminarPerfil .modal-header, #__BVID__16 .modal-header, #modalConfirm .modal-header, #modal-informacion-perfil .modal-header {
    position: relative;
    text-align: center;
    padding-right: 48px!important;
    border: 0!important;
}

#modal_edit_perfil .modal-title.title-dinamico {
    padding-right: 42px;
    padding-left: 42px;
    max-width: 390px !important;
}

#modal_edit_perfil .modal-header .modal-title {
    padding-top: 14px!important;
}

#modal_edit_perfil .modal-header .modal-title, #modalEliminarPerfil .modal-header .modal-title, #__BVID__16 .modal-header .modal-title, #modalConfirm .modal-header .modal-title, #modal-informacion-perfil .modal-header .modal-title{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-family: Nexa-bold;
    font-weight: 400;
    color: #686868;
    font-size: 20px;
    padding-top: 8px;
    line-height: 1.3;
    margin-bottom: 0px;
}

#modalEliminarPerfil .modal-header {
    padding: 36px 34px;
    position: relative;
}

#modal_edit_perfil .modal-title.title-dinamico>span {
    color: #60c4dd!important;
}

.modal-header .icon-Cerrar-modal {
    top: 14px!important;
    right: -13px!important;
    padding: 0!important;
}

.modal-header .icon-Cerrar-modal {
    padding: 9px;
}

.modal-header .icon-Cerrar-modal {
    position: absolute;
    top: 17px;
    right: 0px;
    display: inline-block;
    z-index: 3;
    padding: 0;
    margin: 0;
    opacity: 1;
    font-size: 43px;
    color: #c9003d;
    border: 0;
    background-color: transparent;
    outline: none;
    font-weight: 400;
}

.modal-header .icon-Cerrar-modal:hover {
    opacity: .7;
    cursor: pointer;
}

#modal_edit_perfil .modal-body {
    padding-left: 1.25rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding: 10px 55px 0px 1.25rem;
}

#modal_edit_perfil .perfil-checks {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 35px;
    cursor: pointer;
    font-size: 24px;
}

#modal_edit_perfil .centrador {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#modal_edit_perfil .perfil-checks__iconos {
    color: #00a1c9;
    margin: 0 24px;
    vertical-align: sub;
}

#modal_edit_perfil .perfil-checks__iconos:before {
    font-size: 35px!important;
}

#modal_edit_perfil .perfil-checks__title {
    font-family: Nexa-regular,sans-serif;
    color: #686868;
    font-size: 17px;
    line-height: 1;
}

#modal_edit_perfil .perfil-checks input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

#modal_edit_perfil .perfil-checks input:checked~.perfil-checks__mark {
    background-color: #73c914;
    border-color: #73c914;
}

#modal_edit_perfil .perfil-checks__mark {
    position: absolute;
    top: 11px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
    border-color: #686868;
}

#modal_edit_perfil .perfil-checks input:checked~.perfil-checks__mark:after {
    display: block;
}

#modal_edit_perfil .perfil-checks__mark:after {
    content: "";
    position: absolute;
    display: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1.5px solid #fff;
    border-left: 0;
    border-top: 0;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s;
    transition: transform .25s,-webkit-transform .25s;
    left: 6px;
    height: 8px;
    width: 3px;
    bottom: 5px;
    -webkit-transform: rotate(45deg) scaleY(1);
    transform: rotate(45deg) scaleY(1);
    color: #fff;
}

#modal_edit_perfil .modal-footer {
    border: 0!important;
    padding: 10px 0 40px;
    width: 100%!important;
    justify-content: center!important;
    display: flex!important;
}

#modal_edit_perfil .modal-footer .btnRadius.btn-new-gray {
    margin-right: 23px;
    min-height: 32px;
}

#modal_edit_perfil .buttons-container button {
    font-size: 15px;
    padding: 1px 20px;
}



#modalEliminarPerfil{
    max-width: 700px;
}

#modalEliminarPerfil > .modal-content {
    border-radius: 17px;
    border: 0;
}


#modalEliminarPerfil .modal-header h4.modal-title {
    padding: 0;
}


#modalEliminarPerfil .modal-body {
    margin-bottom: 40px;
    padding: 0px 34px;
    text-align: center;
}

#modalEliminarPerfil .modal-body .modal-message {
    font-size: 20px;
    color: #686868;
    margin-bottom: 1rem;
}

#modalEliminarPerfil hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

#modalEliminarPerfil #modal-perfil .principal, #modalEliminarPerfil #modal-perfil .secundario {
    width: 50%;
}

#modalEliminarPerfil #modal-perfil h5 {
    color: #9c9b9b;
    font-family: Nexa-bold,sans-serif;
    margin-bottom: 2rem;
}

#modalEliminarPerfil #img-perfil {
    width: 31px;
    padding: 7px;
    border-radius: 50%;
    background-color: #f0f8ff;
    margin-right: 10px;
}

#modalEliminarPerfil #modal-perfil span {
    color: #686868;
    font-size: 18px;
    font-family: Nexa-bold,sans-serif;
}

#modalEliminarPerfil #modal-perfil .principal p, #modalEliminarPerfil #modal-perfil .secundario p {
    font-family: Nexa-bold,sans-serif;
}

#modalEliminarPerfil .text-rojo {
    color: #c9003d!important;
}

#modalEliminarPerfil #modal-perfil .secundario p{
    font-size: 1rem;
}

#modalEliminarPerfil.modal-lg {
    max-width: 700px; 
}


#modalEliminarPerfil .contenedor {
    display: inline-flex;
}

#modalEliminarPerfil .modal-footer {
    border: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 36px;
}

#modalEliminarPerfil .modal-header button.icon-Cerrar-modal {
    top: 6px;
    right: 6px;
}

#__BVID__16 label {
    color: #686868;
    font-family: Nexa-bold,sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}

#__BVID__16 .modal-body {
    text-align: left;
    padding: 7px 68px 20px;
}

#__BVID__16 .form-control.padd-peq {
    padding: 0.12rem 0.75rem;
}

#__BVID__16 .form-control {
    border: 1px solid #ddd;
    border-radius: 1rem;
}

#__BVID__16 .modal-footer {
    padding-bottom: 30px;
    text-align: center;
}

#__BVID__16 .modal-footer {
    border: 0!important;
    padding: 0 0 30px 0px;
    width: 100%!important;
    justify-content: center!important;
    display: flex!important;
}

#__BVID__16 .modal-footer button:not(:last-child) {
    margin-right: 3.25rem;
}

#__BVID__16 > .modal-content {
    border-radius: 17px;
    border: 0;
}

#__BVID__16 {
    min-width: 700px;
}

#__BVID__16 > .modal-content {
    max-width: 700px;
    border-radius: 17px;
}

#__BVID__16 .icon-Cerrar-modal{
    right: 17px;
}



#modalConfirm {
    min-width: 700px;
}

#modalConfirm .modal-header {
    padding: 36px 34px;
    position: relative;
}

#modalConfirm > .modal-content {
    max-width: 700px;
    border-radius: 17px;
    border: 0;
}


#modalConfirm > .modal-content {
    border-radius: 17px;
    border: 0;
}

#modalConfirm .modal-header button.icon-Cerrar-modal {
    top: 6px;
    right: 6px;
}

#modalConfirm .modal-footer {
    border: 0!important;
    padding: 0 0 30px 0px;
    width: 100%!important;
    justify-content: center!important;
    display: flex!important;
}

#modalConfirm .modal-footer .btn-action {
    margin-right: 40px;
    margin-left: 0!important;
}

#modalConfirm .modal-body .modal-message {
    font-size: 20px;
    color: #686868;
}

#modalConfirm span.text-color {
    color: #00a1c9;
}

#modalConfirm .modal-body {
    margin-bottom: 40px;
    padding: 0;
    text-align: center;
}




#modal-informacion-perfil{
    margin-left: auto;
    margin-right: 0;
    max-width: 495px;
}

#modal-informacion-perfil .modal-content {
    border-radius: 40px 0 0 40px;
    border: 0;
}

#modal-informacion-perfil .modal-header .modal-title {
    color: #00a1c9;
    font-size: 18px;
}

#modal-informacion-perfil .modal-body {
    padding: 0 60px 22px;
    text-align: left;
}

#modal-informacion-perfil .modal-body>div.row {
    background-image: linear-gradient(90deg,#e1e1e1 0,#e1e1e1 50%,transparent 0);
    background-size: 16px 2px;
    background-position: bottom;
    background-repeat: repeat-x;
}

#modal-informacion-perfil .modal-info__logo {
    height: 90px;
    width: 90px;
    padding: 18px;
    background-color: #f3f3f3;
    border-radius: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: auto;
}

#modal-informacion-perfil .modal-info__nombre {
    width: 100%;
}

#modal-informacion-perfil .modal-info__inicio label {
    margin-top: 22px;
    font-size: 18px;
    color: #686868;
    font-family: Nexa-bold,sans-serif;
}

#modal-informacion-perfil .modal-info__info {
    margin-bottom: 18px;
    padding: 0;
}

#modal-informacion-perfil .modal-info__info label {
    color: #686868;
    font-family: Nexa-bold,sans-serif;
    font-size: 13px;
}

#modal-informacion-perfil .modal-info__data {
    color: #686868;
    font-family: Nexa-regular,sans-serif;
    font-size: 13px;
}

#modal-informacion-perfil .modal-info_tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #686868;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 0 8px;
    max-height: 22px;
}

#modal-informacion-perfil .modal-info_tags .modal-info__icon {
    width: 18px;
    margin-right: 10px;
}

#modal-informacion-perfil .modal-info_tags .modal-info__counter {
    font-size: 10px;
    margin: 0;
    color: #686868;
    font-family: Nexa-bold,sans-serif;
}

#modal-informacion-perfil .modal-info__info.row{
    width: unset !important;
}

#modal-informacion-perfil .modal-info__data--green {
    font-family: Nexa-bold,sans-serif;
    color: #73c914;
}

#modal-informacion-perfil .modal-info__data--blue {
    font-family: Nexa-bold,sans-serif;
    color: #00a1c9;
}

#modal-informacion-perfil .modal-info__data--blue-claro, #modal-informacion-perfil .modal-info__data--red {
    font-family: Nexa-bold,sans-serif;
    color: #c9003d;
}

#modal-informacion-perfil .modal-footer {
    border: 0!important;
    padding: 0 0 30px;
    width: 100%!important;
    justify-content: center!important;
    display: flex!important;
}

#modal-informacion-perfil .modal-footer button {
    padding: 5px 25px;
    border: 0;
    font-size: 18px;
}

#modal-informacion-perfil .modal-header .icon-Cerrar-modal {
    top: 9px;
    right: 9px;
}

.fade.modal.show {
    padding-right: 0px !important;
}

#modal-informacion-perfil .modal-footer i {
    vertical-align: sub;
    margin-right: 18px;
    font-size: 23px;
}

.color-blue {
    color: #003dc9;
}