body {
    background-color: #f5f5f5 !important;
}

body:before {
    content: "";
    width: 100%;
    position: fixed;
    background: #f5f5f5;
    height: 51px;
    z-index: 20;
}

.contenido_internas {
    margin-top: 45px;
    margin-left: 0;
    width: 100%;
    display: inline-block;
    min-height: calc(100vh - 167px);
    min-width: 100%;
    padding-left: 100px;
    padding-right: 10px;
}

#app .content_blank_interno {
    background: #fff;
    margin-top: 24px;
    border-radius: 14px;
    margin-bottom: 60px;
}

#app .content_blank_interno.margin_left_layout,
#app .content_not_blank_interno.margin_left_layout {
    margin-left: 0;
}

#app .content_blank_interno .name_seccion_app,
#app .content_not_blank_interno .name_seccion_app {
    text-align: center;
    display: block;
    max-width: 410px;
    margin: 0 auto;
    color: #00a1c9;
    font-family: Nexa-bold, sans-serif;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 11px;
    border: 0;
    background-image: -webkit-gradient(linear, left top, right top, from(#e1e1e1), color-stop(50%, #e1e1e1), color-stop(50%, transparent));
    background-image: linear-gradient(90deg, #e1e1e1 0, #e1e1e1 50%, transparent 0);
    background-size: 16px 2px;
    background-position: bottom;
    background-repeat: repeat-x;
}

.name_seccion_app {
    font-family: Roboto-medium;
    font-weight: 400 !important;
    color: #4d4f4f;
    margin: 0;
    padding-top: 15px;
    font-size: 26px;
    border-bottom: 1px solid #4d4f4f;
    padding-bottom: 2px;
}

.tablescoop {
    position: relative;
    display: inline-block;
    width: 100%;
    font-family: Roboto-regular;
    font-size: 13px;
    margin-top: 20px;
    height: 100%;
}

.cargando_tables {
    z-index: 1000;
}

#cargandos,
.cargando_tables {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    background: hsla(0, 0%, 100%, .9);
    width: 100%;
    text-align: center;
    height: 100%;
    display: none;
}

.cargando_tables>.col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cargando_tables .img-col,
.cargando_tables .img-ecu {
    width: 230px;
    max-width: 100%;
}

#cargandos img,
.cargando_tables img {
    max-width: 100%;
}

#cargandos p,
.cargando_tables p {
    font-family: Nexa-bold;
    font-size: 27px;
    padding-top: 8px;
    color: #959595;
}

#perfil-list .tablescoop .VueTables__limit {
    margin-bottom: 20px !important;
}

.VueTables__limit {
    width: 100%;
    float: none !important;
    position: relative;
    margin-bottom: 0 !important;
}

#perfil-list .tablescoop .VueTables__limit .reloadTable #top-botones .btn-new-green {
    margin-top: 0;
    padding: 1px 20px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-new-green {
    color: #73c914 !important;
    border: 1px solid #73c914 !important;
}

.btn-new-green:focus,
.btn-new-green:hover {
    background: #73c914 !important;
    color: #fff !important;
}

.btnRadius {
    border-radius: 40px !important;
}

a.btnRadius {
    padding: 6px 24px;
}

.row {
    --bs-gutter-x: unset !important;
}

/*Botones*/
.btn-new-gray {
    color: #686868 !important;
    border: 1px solid #686868 !important;
}

.btn-new-gray:focus,
.btn-new-gray:hover {
    background: #686868 !important;
    color: #fff !important;
}

.btn-new-blue {
    color: #00a1c9 !important;
    border: 1px solid #00a1c9 !important;
}

.btn-new-blue:focus,
.btn-new-blue:hover {
    background: #00a1c9 !important;
    color: #fff !important;
}

.btn-new-danger {
    color: #c9003d !important;
    border: 1px solid #c9003d !important;
}

.btn-new-danger:focus,
.btn-new-danger:hover {
    background: #c9003d !important;
    color: #fff !important;
}

.btnRadius {
    border-radius: 40px;
}

.btn-new-gray:focus, .btn-new-gray:hover {
    background: #686868!important;
    color: #fff!important;
}
/*Botones*/

/*Modals*/
.modal-backdrop.show {
    background: hsla(0, 2%, 46%, .62);
    -webkit-backdrop-filter: blur(6px);
    -moz-backdrop-filter: blur(6px);
    -ms-backdrop-filter: blur(6px);
    -o-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    opacity: 1 !important;
}

/*Modals*/

input[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
}

input[type="checkbox"] {
    border: 2px solid #66c6de;
    padding: 7px;
    /* margin-right: 10px; */
    border-radius: 5px;
    height: 24px;
    width: 24px;
}

input[type='radio']{
    border-color: inherit;
    width: 17px;
    height: 17px;
}

input[type='radio']:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e") !important;
    background-color: #73c914 !important;
}

input[type='radio']:focus{ box-shadow: none; outline: none !important; }

.input-error{
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.is-invalid {
    border-color: #dc3545 !important;
}

#cargandos, .cargando_tables {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    background: hsla(0,0%,100%,.9);
    width: 100%;
    text-align: center;
    height: 100%;
    display: block;
}

#cargandos .img-col, #cargandos .img-ecu {
    width: 250px;
    max-width: 100%;
    margin: 7% auto auto auto;
}

/* .p-toast {
    max-width: 33rem !important;
} */

/*TOAST*/
.p-toast {
    opacity: 1 !important;
}

.p-toast .p-toast-message .p-toast-message-content {
    border-width: 0 0 0 0px !important;
    padding: .7rem !important;
}

.p-toast .p-toast-message{
    background-color: #fff !important;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
    font-size: 1.5rem !important;
}

span.p-toast-icon-close-icon.pi.pi-times {
    font-size: unset !important;
}

.p-toast-message-content {
    align-items: center !important;
}

span.p-toast-summary {
    font-family: 'Nexa-bold' !important;
    color: #686868 !important;
}

.p-toast .p-toast-message.p-toast-message-success {
    border: solid #73c914 !important;
    border-width: 0 0 0 6px !important;
    color: #73c914 !important;
}

.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon{
    background-color: #73c914 !important;
    color: #fff !important;
    border-radius: 50%;
}

.p-toast .p-toast-message.p-toast-message-error {
    border: solid #c9003d !important;
    border-width: 0 0 0 6px !important;
    color: #c9003d !important;
}

.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon{
    background-color: #c9003d !important;
    color: #fff !important;
    border-radius: 50%;
}

.p-toast .p-toast-message.p-toast-message-warn {
    border: solid #ffc107 !important;
    border-width: 0 0 0 6px !important;
    color: #ffc107 !important;
}

.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon{
    background-color: #ffc107 !important;
    color: #fff !important;
    border-radius: 50%;
}

.p-toast .p-toast-message .p-toast-icon-close{
    color: #686868 !important;
    background-color: unset !important;
}

.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
    font-size: 15px !important;
    padding: 7px;
}

.p-toast-message {
    -webkit-box-shadow: 0 0 8px 4px rgb(0 0 0 / 43%) !important;
    -ms-box-shadow: 0 0 8px 4px rgba(0, 0, 0, .431373) !important;
    -o-box-shadow: 0 0 8px 4px rgba(0, 0, 0, .431373) !important;
    box-shadow: 0 0 8px 4px rgb(0 0 0 / 43%) !important;
}

/*TOAST*/

.deshabilitar p, .deshabilitar span {
    opacity: .5;
}

.text-verde {
    color: #73c914!important;
}

.btn-new-blue,
.btn-new-danger,
.btn-new-dark-blue,
.btn-new-gray,
.btn-new-green,
.btn-new-warn,
.btnbg-new-blue,
.btnbg-new-danger,
.btnbg-new-dark-blue,
.btnbg-new-gray,
.btnbg-new-green,
.btnbg-new-warn {
    cursor: pointer;
    font-family: Nexa-bold,sans-serif !important;
    text-decoration: none!important;
    font-size: 17px;
    white-space: normal!important;
    background-color: #fff !important;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    padding: 3px 24px !important;
    outline: none!important;
}

.icono_fuente__list {
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 36px;
    height: 36px;
    font-family: Nexa-regular;
    font-size: 15px;
    font-style: normal;
    color: #fff;
    text-align: center;
    font-weight: 400!important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    line-height: 1;
    padding-top: 1px;
}

.text-azul {
    color: #00a1c9!important;
}

.text-verde {
    color: #73c914!important;
}


.iconos_acciones_contratos .favorito_active:before, 
.iconos_acciones_contratos .icon-Favorito-click:hover:before {
    color: #ffc107!important;
}